<!DOCTYPE html> 

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Get Weather</title>
  <meta name="description" content="A simple weather app">
  <meta name="author" content="Venessa">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

{{>header}}

<h4><p>This site was created by Venessa Tan. It uses data from mapbox.com.</p></h4>

</body>
</html>